.headline{
    padding-top: 40px;
    margin: 0 auto;
    width: 1000px;
    font-weight: 700;
    font-size: 19px;
    text-align: justify;
    color: #666666;
}

#booking_data{
    width: 1000px;
    margin: 30px auto 0;
    padding-bottom: 40px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

section{
    width: 980px;
    margin: 40px auto;
    text-align: left;
    position: relative;
}

.sec_1{
    display: flex;
    flex-wrap: wrap;
}

.sec_3{
    margin-bottom: 25px;
}

.sec_4{
    margin-bottom: 0;
    padding-bottom: 58px;
}

hr{
    width: 1200px;
    border: 1px solid #E8E8E8;
    margin: 0px auto;
}

.booking_pic{
    flex: none;
    position: relative;
    width: 250px;
    height: 200px;
    margin-right: 30px;
}

#booking_img{   
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px -5px rgb(0, 0, 0);
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent 90%,rgba(0,0,0,.3));
}

.booking_info{
    padding-top: 11px;
    flex: auto;
    position: relative;
    text-align: left;
}

#delete_booking{
    cursor: pointer; 
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(/static/pic/ico_delete.png);
    background-size: cover;
}

h4{
    height: 14px;
    color: #666666;
}

.title{
    font-weight: 700;
    margin-bottom: 20px;
}

#booking_title{
    color: #448899;
    height: auto;
    margin-bottom: 30px;
}

.content{
    font-weight: 500;
}

.sec_title{
    height: 24px;
    font-weight: 700;
    font-size: 19px;
    text-align: left;
    color: #666666;
    margin-bottom: 24px;
}

.booking_input, .tpfield{
    box-sizing: border-box;
    width: 200px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 15px;
    box-shadow: inset 0.5px 0.5px 0.5px  rgb(213, 207, 207);
}

.input_box{
    display: flex;
    line-height: 38px;
}

.input_box span{
    font-size: 24px;
    padding-left: 5px;
}

.sec_2 .title{
    height: auto;
}

.sec_4 .title{
    text-align: right;
    margin-bottom: 25px;
}

.to_pay{
    box-sizing: border-box;
    cursor: pointer;
    width: 173px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
    background: #448899;
    border-radius: 5px;
    position: absolute;
    right: 0;
    box-shadow: 2px 5px 5px -5px rgb(0, 0, 0);
}

.order_info{
    padding-top: 5px;
    flex: auto;
    position: relative;
    text-align: left;
}

.to_history{
    cursor: pointer;
    color:#448899;
}

@media (max-width:1200px) {
    #booking_data, .headline{
        width: 95%;
    }
    section, hr{
        width: 100%;
    }
}

@media(max-width:730px) {
    #booking_title{
        width: 250px;
    }
}

@media(max-width:600px) {
    #booking_title{
        width: 220px;
    }
}

@media(max-width:570px) {
    .sec_1{
        margin: 30px auto 0;
        padding-bottom: 0;
    }
    #booking_title{
        width: auto;
    }
    .booking_pic, .booking_info{
        padding-top: 0;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto 30px;
    }
   
    #delete_booking{
        top: auto;
        bottom: 0px;
    }
    .sec_1 h4:last-of-type{
        height: auto;
        margin-bottom: 30px;
    }
}