<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/pic/101.ico"/>
    <title>頁面不存在</title>
</head>
<style>
    div {
        width: 310px;
        height: 286px;
        position: relative;
        margin: 0 auto;
        transform: translateY(50%);
      }
    img{
        cursor: pointer;
        position: absolute;
     }
</style>
<body>
    <div><img src="/static/pic/404.png" onclick="location.href='/'"></div>
</body>
</html>