{% extends 'index.html' %}
{% block title %}
<title>預定行程</title>
<link rel="stylesheet" type="text/css" href="/static/css/booking.css"/>
{% endblock %}
{% block content %}
<main class="hidden">
    <p class="headline"></p>
    <div id="booking_data" class="hidden">
        <section class="sec_1">
            <div id="booking_pic"><img id="booking_img"></div>
            <div id="booking_info">
                <div id="delete_booking"></div>
                <h4 class="title" id="booking_title"></h4>
                <h4 class="title">日期：
                    <span class="content" id="booking_date"></span>
                </h4>
                <h4 class="title">時間：
                    <span class="content" id="booking_time"></span>
                </h4>
                <h4 class="title">費用：
                    <span class="content" id="booking_price"></span>
                </h4>
                <h4 class="title">地點：
                    <span class="content" id="booking_address"></span>
                </h4>
            </div>
        </section>
        <hr/>
        <section class="sec_2">
            <p class="sec_title">您的聯絡資訊</p>
            <div class="input_box">
                聯絡姓名：<input type="text" name="name" class="booking_input" id="booking_name" required>
                <span class="hidden" id="booking_name_hint"></span>
            </div>
            <div class="input_box">
                連絡信箱：<input type="email" name="email" class="booking_input" 
                id="booking_email" required>
                <span class="hidden" id="booking_email_hint"></span>
            </div>
            <div class="input_box">
                手機號碼：<input type="tel" name="phone" class="booking_input" 
                id="booking_phone" maxlength="12" required>
                <span class="hidden" id="booking_phone_hint"></span>
            </div>
            <h4 class="title">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h4>
        </section>
        <hr/>
        <section class="sec_3">
            <p class="sec_title">信用卡付款資訊</p>
            <div class="input_box">卡片號碼：
                <div class="tpfield" id="card-number"></div>
            </div>
            <div class="input_box">過期時間：
                <div class="tpfield" id="card-expiration-date"></div>
            </div>
            <div class="input_box">驗證密碼：
                <div class="tpfield" id="card-ccv" ></div>
            </div>
        </section>
        <hr/>
        <section class="sec_4">
            <h4 class="title" id="booking_total">總價：新台幣 2000 元</h4>
            <input type="submit" class="to_pay" id="to_pay" value="確認訂購並付款" disabled>
        </section>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script src="/static/js/booking.js"></script>
{% endblock %}
