<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
</head>
<body>
    <div id="page-container">
        <nav>
            <div class="frame">
                <div class="left">台北一日遊</div>
                <div class="right">
                    <div class="item">預定行程</div>
                    <div class="item">登入/註冊</div>
                </div>
            </div>
            <dialog id="signin_dialog" class="sign_dialog">
                <p>登入會員帳號</p>
                <form method="dialog" id="signin">
                    <button class="close"></button>
                    <input type="email" name="email" class="sign" placeholder="輸入電子信箱">
                    <input type="password" name="password" class="sign" placeholder="輸入密碼">
                    <button class="dialog_btn">登入帳戶</button>
                </form>
                <span id="to_signup">還沒有帳戶？點此註冊</span>
            </dialog>
            <dialog id="signup_dialog" class="sign_dialog">
                <p>註冊會員帳號</p>
                <form method="dialog" id="signup">
                    <button class="close"></button>
                    <input type="text" name="name" class="sign" placeholder="輸入姓名">
                    <input type="email" name="email" class="sign" placeholder="輸入電子信箱">
                    <input type="password" name="password" class="sign" placeholder="輸入密碼">
                    <button class="dialog_btn">註冊新帳戶</button>
                </form>
                <span id="to_signin">已經有帳戶了？點此登入</span>
            </dialog>
        </nav>
        <main>
            <div class="welcome">
                <div class="slogan">
                    <h1>輕鬆享受台北一日悠閒</h1>
                    <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
                    <span class="searchbox">
                        <input type="search" id="search" name="keyword" placeholder="輸入景點名稱查詢" autofocus>
                        <input type="button" id="search_icon" onclick="search_att()">
                        <dialog id="search_dialog">
                            <form method="dialog" id="search_form">
                            </form>
                        </dialog>
                    </span>
                </div>
            </div>
            <div id="main"></div>
        </main>
    </div>
        <footer>
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </footer>
        <script src="/static/js/sign.js"></script>
        <script src="/static/js/index.js"></script>
</body>
</html>