<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    {% block title %}
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    {% endblock %}
    <link rel="icon" type="image/png" href="/static/pic/101.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
    <div id="page-container">
        <nav>
            <div class="frame">
                <div class="left" onclick="location.href='/'">台北一日遊</div>
                <div class="right">
                    <div class="item" id="nav_booking">預定行程</div>
                    <div class="item" id="nav_signin_up">登入/註冊</div>
                    <div class="hidden" id="nav_signout">登出系統</div>
                </div>
            </div>
            <div>
                <dialog id="signin_dialog" class="sign_dialog">
                    <h2>登入會員帳號</h2>
                    <form method="dialog" id="signin_form" method="POST">
                        <div class="close"></div>
                        <!--email-->
                        <input type="email" name="email" class="sign" id="signin_email" autocomplete="username" 
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入電子信箱" required>
                        <p class="hidden" id="signin_email_hint"></p>
                        <!--pw-->
                        <input type="password" name="password" class="sign" id="signin_password" autocomplete="current-password" 
                            pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$"
                            oninvalid="setCustomValidity('需為英、數組合，且至少6字以上');" 
                            placeholder="輸入密碼(英、數組合6字以上)" required>
                        <p class="hidden" id="signin_password_hint"></p>
                        <button class="dialog_btn" >登入帳戶</button>
                    </form>
                    <p class="hidden" id="signin_info"></p>
                    <span id="to_signup">還沒有帳戶？點此註冊</span>
                </dialog>
                <dialog id="signup_dialog" class="sign_dialog">
                    <h2>註冊會員帳號</h2>
                    <form method="dialog" id="signup_form" method="POST">
                        <div class="close"></div>
                        <!--name-->
                        <input type="text" name="name" class="sign" id="signup_name" placeholder="輸入姓名" required>
                        <!--email-->
                        <div class="end_labeled">
                            <input type="email" name="email" class="sign" id="signup_email" autocomplete="username" 
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入電子信箱" required>
                            <span class="hidden" id="check_email"></span>
                        </div class= "end_labeled">
                        <p class="hidden" id="signup_email_hint"></p>
                        <!--pw-->
                        <div class="end_labeled">
                            <input type="password" name="password" class="sign" id="signup_password" 
                                autocomplete="new-password" pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$" 
                                oninvalid="setCustomValidity('需為英、數組合，且至少6字以上');" 
                                placeholder="輸入密碼(英、數組合6字以上)" required>
                            <span class="hidden" id="check_password"></span>
                        </div>
                        <p class="hidden" id="signup_password_hint"></p>
                        <button class="dialog_btn">註冊新帳戶</button>
                    </form>
                    <p class="hidden" id="signup_info"></p>
                    <span id="to_signin">已經有帳戶了？點此登入</span>
                </dialog>
                <dialog id="signin_out_ok"></dialog>
        </nav>
        {% block content %}
        <main>
            <div class="welcome">
                <div class="slogan">
                    <h1>輕鬆享受台北一日悠閒</h1>
                    <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
                    <span class="searchbox">
                        <input type="search" id="search" name="keyword" placeholder="輸入景點名稱查詢" autofocus>
                        <div id="search_icon" onclick="search_att()"></div>
                        <dialog id="search_dialog">
                            <form method="dialog" id="search_form">
                            </form>
                        </dialog>
                    </span>
                </div>
            </div>
            <div id="main"></div>
        </main>
        {% endblock %}
    </div>
        <footer>
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </footer>
        <script src="/static/js/user_mvc.js"></script>
        {% block script %}
        <script src="/static/js/index.js"></script>
        {% endblock %}
</body>
</html>